In [1]:
import numpy as np
import pandas as pd

In [ ]:
Exercise no 2
Problem statement:
Write a program which will find all such numbers which are divisible by 7 but are not a multiple
of 5, between 2000 and 3200 (both included). The numbers obtained should be printed in a
comma-separated sequence on a single line.

In [2]:
nl=[]
for x in range(2000, 3200):
    if (x%7==0) and (x%5==0):
        nl.append(str(x))
print (','.join(nl))

2030,2065,2100,2135,2170,2205,2240,2275,2310,2345,2380,2415,2450,2485,2520,2555,2590,2625,2660,2695,2730,2765,2800,2835,2870,2905,2940,2975,3010,3045,3080,3115,3150,3185

In [ ]:
exercise no:3
    Write a Python program to accept the user's first and last name and then getting them printed in
the the reverse order with a space between first name and last name.

In [9]:
fname = input("Input your First Name : ")
lname = input("Input your Last Name : ")
print ("Hello  " + lname + " " + fname)

Input your First Name : sachin
Input your Last Name : shetty
Hello  shetty sachin

In [ ]:
Excerise 4
Write a Python program to find the volume of a sphere with diameter 12 cm.
Formula: V=4/3 * Ï€ * r3

In [11]:
pi = 3.1415926535897931
r= 6.0
V= 4.0/3.0*pi* r**3
print('The volume of the sphere is: ',V)

The volume of the sphere is:  904.7786842338603

In [ ]:
Task 2:
1.
Write a program which accepts a sequence of comma-separated numbers from console and
generate a list

In [1]:
values = input("Input some comma seprated numbers : ")
list = values.split(",")
tuple = tuple(list)
print('List : ',list)
print('Tuple : ',tuple)

Input some comma seprated numbers : 10,20,30,40,50,60,70,80,90,100
List :  ['10', '20', '30', '40', '50', '60', '70', '80', '90', '100']
Tuple :  ('10', '20', '30', '40', '50', '60', '70', '80', '90', '100')

In [ ]:

Task 2.
Create the below pattern using nested for loop in Python.

In [3]:
n=5;
for i in range(n):
    for j in range(i):
        print ('* ', end="")
    print('')

for i in range(n,0,-1):
    for j in range(i):
        print('* ', end="")
    print('')

*
* *
* * *
* * * *
* * * * *
* * * *
* * *
* *
*

In [ ]:
task 3:
    Write a Python program to reverse a word after accepting the input from the user.

In [4]:
word = input("Input a word to reverse: ")

for char in range(len(word) - 1, -1, -1):
  print(word[char], end="")
print("\n")

Input a word to reverse: SachinKumarShetty
yttehSramuKnihcaS

In [ ]:
Task 4:
    Write a Python Program to print the given string in the format specified in the sample output.
    WE, THE PEOPLE OF INDIA, having solemnly resolved to constitute India into a
SOVEREIGN, SOCIALIST, SECULAR, DEMOCRATIC REPUBLIC and to secure to all
its citizens

In [30]:
a="'WE', 'THE PEOPLE OF INDIA\n\t' having solemnly resolved to constitute India into a\n\t SOVEREIGN, SOCIALIST, SECULAR, 'DEMOCRATIC REPUBLIC'\n\t"
print(a)

'WE', 'THE PEOPLE OF INDIA
	' having solemnly resolved to constitute India into a
	 SOVEREIGN, SOCIALIST, SECULAR, 'DEMOCRATIC REPUBLIC'